

      
  <!-- <mat-card> -->
        <!-- <div [ngStyle]="{'background' : 'url(https://i1.wp.com/blogs.perficientdigital.com/files/2019/03/PD-Blog-Image-Woman-Standing-Water.jpg?fit=1600%2C600&ssl=1)'}"> -->
        <!-- <div class="example-button-row">
        <button mat-raised-button color="primary" routerLink="list" role="button" routerLinkActive="active">Employees</button>
        </div> -->
    
         <!-- <button routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</button> -->
  
         <!-- <div class="example-button-row">
            
         <button mat-raised-button color="primary" routerLink="add" role="button" routerLinkActive="active">Add</button>
         </div> 
        -->
        <!-- <userdata></userdata> -->
        <router-outlet></router-outlet>  
        
          <!-- <userdata></userdata> -->
           



            <!-- </mat-card> -->

